body{
    text-align: center;
}


.too-broke{
    background-color: rgba(113, 37, 255, 0.2);
    color:rgba(0, 0, 0, 0.2);
    border: 0;
}

.not-broke{
    background-color: rgb(113, 37, 255);
    color:rgb(0, 0, 0);
    border: 0;
}